# Enforce LF line endings for all text files
* text=auto eol=lf

# Force binary treatment for known binary types
*.png binary
*.jpg binary
*.jar binary
*.class binary

.gitattributes filter=
node_modules/** filter= -text
build/** filter=lfs diff=lfs merge=lfs -text
out/** filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
jdk-*/** filter=lfs diff=lfs merge=lfs -text